<div class="logo-container vr">
    <div class="logo">
        <img src="{{ logo }}" />
    </div>
</div>
<div class="u-mobile vr">
    <ul class="carousel">
        {% for image in carousel.mobile %}
            <li><img src="{{ image }}" /></li>
        {% endfor %}
    </ul>
</div>
<div class="u-tabletPlus vr">
    <ul class="carousel">
        {% for image in carousel.desktop %}
            <li><img src="{{ image }}" /></li>
        {% endfor %}
    </ul>
</div>
<div class="box-mobile">
    <div class="teaser vr">
        {{ content }}
    </div>
    <ul class="blocks blocks_3up">
        {% for page in pages %}
            <li>
                <a href="{{ page.permalink }}" class="cta">
                    <img src="{{ page.featured_image_src_cta }}" class="vr"/>
                    <span>{{ page.title|raw }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>