{% if featured_image_src and featured_image_src_mobile %}
    <div class="hero vr_half">
        <img class="u-tabletPlus" src="{{ featured_image_src }}" />
        <img class="u-mobile" src="{{ featured_image_src_mobile }}" />
    </div>
{% endif %}
<div class="box">
    <h1 class="hdg hdg_1 vr">{{ title|raw }}</h1>
    {% if hours %}
        <ul class="hours vr">
            {% for day,hour in hours %}
                <li>
                    <span class="day">{{ day }}</span>
                    <span class="hour">{{ hour }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="userContent">
        {{ content|raw }}
    </div>
</div>
