{% if featured_image_src and featured_image_src_mobile %}
    <div class="hero vr_half">
        <img class="u-tabletPlus" src="{{ featured_image_src }}" />
        <img class="u-mobile" src="{{ featured_image_src_mobile }}" />
    </div>
{% endif %}
<div class="box">
    <h1 class="hdg hdg_1 vr">{{ title|raw }}</h1>
    <ul class="blocks blocks_3up">
        {% for service in services %}
            <li class="serviceBlock">
                <a href="{{ service.permalink }}">
                    <img src="{{ service.featured_image_src_square }}" />
                </a>
                <a class="serviceBlock-title" href="{{ service.permalink }}">{{ service.title|raw }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="userContent vr">
        {{ content|raw }}
    </div>
</div>